/* line 1, ../sass/_width.scss */
.width_100 {
  width: 100%;
}

/* line 4, ../sass/_width.scss */
.width_95 {
  width: 95%;
}

/* line 7, ../sass/_width.scss */
.width_90 {
  width: 90%;
}

/* line 10, ../sass/_width.scss */
.width_85 {
  width: 85%;
}

/* line 13, ../sass/_width.scss */
.width_80 {
  width: 80%;
}

/* line 16, ../sass/_width.scss */
.width_75 {
  width: 75%;
}

/* line 19, ../sass/_width.scss */
.width_70 {
  width: 70%;
}

/* line 22, ../sass/_width.scss */
.width_65 {
  width: 65%;
}

/* line 25, ../sass/_width.scss */
.width_60 {
  width: 60%;
}

/* line 28, ../sass/_width.scss */
.width_55 {
  width: 55%;
}

/* line 31, ../sass/_width.scss */
.width_50 {
  width: 50%;
}

/* line 34, ../sass/_width.scss */
.width_45 {
  width: 45%;
}

/* line 37, ../sass/_width.scss */
.width_40 {
  width: 40%;
}

/* line 40, ../sass/_width.scss */
.width_35 {
  width: 35%;
}

/* line 43, ../sass/_width.scss */
.width_30 {
  width: 30%;
}

/* line 46, ../sass/_width.scss */
.width_25 {
  width: 25%;
}

/* line 49, ../sass/_width.scss */
.width_20 {
  width: 20%;
}

/* line 52, ../sass/_width.scss */
.width_15 {
  width: 15%;
}

/* line 55, ../sass/_width.scss */
.width_10 {
  width: 10%;
}

/* line 58, ../sass/_width.scss */
.width_5 {
  width: 5%;
}

/* line 1, ../sass/_height.scss */
.height_5 {
  height: 5px;
}

/* line 4, ../sass/_height.scss */
.height_10 {
  height: 10px;
}

/* line 7, ../sass/_height.scss */
.height_15 {
  height: 15px;
}

/* line 10, ../sass/_height.scss */
.height_20 {
  height: 20px;
}

/* line 13, ../sass/_height.scss */
.height_25 {
  height: 25px;
}

/* line 16, ../sass/_height.scss */
.height_30 {
  height: 30px;
}

/* line 19, ../sass/_height.scss */
.height_35 {
  height: 35px;
}

/* line 22, ../sass/_height.scss */
.height_40 {
  height: 40px;
}

/* line 25, ../sass/_height.scss */
.height_45 {
  height: 45px;
}

/* line 28, ../sass/_height.scss */
.height_50 {
  height: 50px;
}

/* line 31, ../sass/_height.scss */
.height_55 {
  height: 55px;
}

/* line 34, ../sass/_height.scss */
.height_60 {
  height: 60px;
}

/* line 37, ../sass/_height.scss */
.height_65 {
  height: 65px;
}

/* line 40, ../sass/_height.scss */
.height_70 {
  height: 70px;
}

/* line 43, ../sass/_height.scss */
.height_75 {
  height: 75px;
}

/* line 46, ../sass/_height.scss */
.height_80 {
  height: 80px;
}

/* line 49, ../sass/_height.scss */
.height_85 {
  height: 85px;
}

/* line 52, ../sass/_height.scss */
.height_90 {
  height: 90px;
}

/* line 55, ../sass/_height.scss */
.height_95 {
  height: 95px;
}

/* line 58, ../sass/_height.scss */
.height_100 {
  height: 100px;
}

@font-face {
  font-family: 'kaushan';
  src: url("../../fonts/KaushanScript-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url("../../fonts/Montserrat-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url("../../fonts/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'greatvibes';
  src: url("../../fonts/GreatVibes-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lobster';
  src: url("../../fonts/LobsterTwo-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/_forms.scss */
.button_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  z-index: 2;
}

/* line 8, ../sass/_forms.scss */
.button_blue {
  color: #FFF;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  background: #0081ff;
  border: none;
  padding: 8px;
  transition-duration: 0.3s;
  min-width: 120px;
  outline-style: none;
}

/* line 20, ../sass/_forms.scss */
.button_blue:hover {
  background: #0a6bff;
  transition-duration: 0.3s;
  outline-style: none;
}

/* line 25, ../sass/_forms.scss */
.button_blue:active {
  background: #0251ff;
  transition-duration: 0.3s;
  outline-style: none;
}

/* line 1, ../sass/_reset.scss */
.reset_link {
  text-decoration: none;
}

/* line 4, ../sass/_reset.scss */
.reset_list {
  list-style-type: none;
}

/* line 1, ../sass/_header.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  background: #152637;
  border-bottom: 2px solid #0081ff;
  z-index: 1;
}

/* line 9, ../sass/_header.scss */
.menu_display {
  display: inline-flex;
}

/* line 12, ../sass/_header.scss */
.logo_img {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 16, ../sass/_header.scss */
.menu_link {
  color: white;
  font-family: 'lobster', Arial;
  font-size: 20px;
  margin-left: 20px;
}

/* line 1, ../sass/_fonctions.scss */
.absolute {
  position: absolute;
}

/* line 4, ../sass/_fonctions.scss */
.fixed {
  position: fixed;
}

/* line 7, ../sass/_fonctions.scss */
.relative {
  position: relative;
}

/* line 10, ../sass/_fonctions.scss */
.margin_auto {
  margin: auto;
}

/* line 13, ../sass/_fonctions.scss */
.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** Right **/
/* line 2, ../sass/_position.scss */
.right_1 {
  right: 1%;
}

/* line 5, ../sass/_position.scss */
.right_2 {
  right: 2%;
}

/* line 8, ../sass/_position.scss */
.right_3 {
  right: 3%;
}

/* line 11, ../sass/_position.scss */
.right_4 {
  right: 4%;
}

/* line 14, ../sass/_position.scss */
.right_5 {
  right: 5%;
}

/* line 17, ../sass/_position.scss */
.right_6 {
  right: 6%;
}

/* line 20, ../sass/_position.scss */
.right_7 {
  right: 7%;
}

/* line 23, ../sass/_position.scss */
.right_8 {
  right: 8%;
}

/* line 26, ../sass/_position.scss */
.right_9 {
  right: 9%;
}

/* line 29, ../sass/_position.scss */
.right_10 {
  right: 10%;
}

/* line 32, ../sass/_position.scss */
.right_15 {
  right: 15%;
}

/* line 35, ../sass/_position.scss */
.right_20 {
  right: 10%;
}

/* line 38, ../sass/_position.scss */
.right_25 {
  right: 25%;
}

/* line 41, ../sass/_position.scss */
.right_30 {
  right: 30%;
}

/* line 44, ../sass/_position.scss */
.right_35 {
  right: 35%;
}

/* line 47, ../sass/_position.scss */
.right_40 {
  right: 40%;
}

/* line 50, ../sass/_position.scss */
.right_45 {
  right: 45%;
}

/* line 53, ../sass/_position.scss */
.right_50 {
  right: 50%;
}

/** Left **/
/* line 57, ../sass/_position.scss */
.left_1 {
  left: 1%;
}

/* line 60, ../sass/_position.scss */
.left_2 {
  left: 2%;
}

/* line 63, ../sass/_position.scss */
.left_3 {
  left: 3%;
}

/* line 66, ../sass/_position.scss */
.left_4 {
  left: 4%;
}

/* line 69, ../sass/_position.scss */
.left_5 {
  left: 5%;
}

/* line 72, ../sass/_position.scss */
.left_6 {
  left: 6%;
}

/* line 75, ../sass/_position.scss */
.left_7 {
  left: 7%;
}

/* line 78, ../sass/_position.scss */
.left_8 {
  left: 8%;
}

/* line 81, ../sass/_position.scss */
.left_9 {
  left: 9%;
}

/* line 84, ../sass/_position.scss */
.left_10 {
  left: 10%;
}

/* line 87, ../sass/_position.scss */
.left_15 {
  left: 15%;
}

/* line 90, ../sass/_position.scss */
.left_20 {
  left: 10%;
}

/* line 93, ../sass/_position.scss */
.left_25 {
  left: 25%;
}

/* line 96, ../sass/_position.scss */
.left_30 {
  left: 30%;
}

/* line 99, ../sass/_position.scss */
.left_35 {
  left: 35%;
}

/* line 102, ../sass/_position.scss */
.left_40 {
  left: 40%;
}

/* line 105, ../sass/_position.scss */
.left_45 {
  left: 45%;
}

/* line 108, ../sass/_position.scss */
.left_50 {
  left: 50%;
}

/** Page principale **/
/* line 2, ../sass/_content.scss */
.content {
  margin-top: 50px;
}
/* line 4, ../sass/_content.scss */
.content .title {
  border-bottom: 1px dashed #b6b4b4;
  border-top: 1px dashed #b6b4b4;
  font-family: 'montserrat', Arial;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
}
/* line 13, ../sass/_content.scss */
.content .item {
  margin-left: 2%;
  margin-top: 5px;
  font-family: 'raleway', Arial;
}

/** Admin connexion **/
/* line 20, ../sass/_content.scss */
.body_admin {
  background: #152637;
}

/* line 23, ../sass/_content.scss */
.form_admin {
  display: flex;
  flex-direction: column;
  position: absolute;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  border-radius: 17px;
  padding: 2%;
  border: 1px solid #0081ff;
  min-width: 150px;
}

/* line 33, ../sass/_content.scss */
.user_entry {
  margin-bottom: 10px;
  background: #152637;
  border: 1px solid #0081ff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  box-shadow: none;
}

/* line 44, ../sass/_content.scss */
.user_entry:focus {
  box-shadow: 0 0 1px #0081ff;
  outline: none;
}

/* line 48, ../sass/_content.scss */
.logo_admin {
  margin-bottom: 10px;
}
