@font-face {
    font-family: 'kaushan';
    src: url('../../fonts/KaushanScript-Regular.otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat';
    src: url('../../fonts/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'raleway';
    src: url('../../fonts/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'greatvibes';
    src: url('../../fonts/GreatVibes-Regular.otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lobster';
    src: url('../../fonts/LobsterTwo-Regular.otf');
    font-weight: normal;
    font-style: normal;

}